<%= form_tag('/', method: "post") do %>
  <label>Input box:</label><br>
  <%= text_field_tag :product %><br>

  <%= submit_tag "add to cart"%>
<% end %>

 <ul>
 <% cart.each do |product| %> 
 <li><%= product %> </li>
 <% end %> </p>
</ul>